@import "tailwindcss";

@theme {
    /* Uniswap Dark Mode renk paleti Tailwind'e tanıtılıyor */
    --color-uniswap-bg: #0D111C;
    --color-uniswap-card: #131A2A;
    --color-uniswap-border: #1B2236;
    --color-uniswap-pink: #FB118E;
}

/* Chrome, Safari, Edge, Opera için input oklarını gizleme */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox için input oklarını gizleme */
input[type=number] {
    -moz-appearance: textfield;
}